.DS_Store
/server/src/config/test.yml
/server/src/config/prod.yml
/admin-vue3/dist
/docs/.vitepress/cache
/docs/node_modules
/docs/dist
/**/node_modules
admin-start.log
admin-start.err.log
admin-dev.log
server-start.log
server-start.err.log
server-dev.log
admin-shadcn/src/routeTree.gen.ts
.worktrees/
